<html>
<head>
<title>No bot is perfect – {% block title %}{% endblock %}</title>
</head>

<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{# <h1>{% block title %}{% endblock %}</h1> #}

Hallo {{ user }}.

{% block content %}{% endblock %}

<h3>Stats:</h3>
<ul>
{% for k, v in user.stats.items %}
<li>{{k}}: {{v}}</li>
{% endfor %}
</ul>

</body>
</html>

