{% load staticfiles %}
{% load current from navigation %}
<!DOCTYPE html>
<html lang="de">
<head>
<title>No bot is perfect – {% block title %}{% endblock %}</title>
<style type="text/css">
/*
 Have the icon have no influence on the navigation height.
 http://stackoverflow.com/a/11818212/946226 
 */
.navbar .navbar-brand.logo {
    max-height: 1px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}
</style>

<!-- Bootstrap -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/spacelab/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
{% block page-js %}{% endblock %}
</script>

</head>

<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container">

<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

<a class="navbar-brand logo" href="{% url 'index' %}">
  <img src="{% static "Maria-50.png" %}" alt="Logo"/>
</a>
<a class="navbar-brand" href="{% url 'index' %}">
  No bot is perfect
</a>
</div>

<div class="collapse navbar-collapse" id="navbar-collapse">

<ul class="nav navbar-nav">
<li class="{% current 'submit' return_value='active' %}"><a href="{% url 'submit' %}">Neues Wort</a></li>
<li class="{% current 'explain' return_value='active' %}"><a href="{% url 'explain' %}">Erklären</a></li>
<li class="{% current 'new_guess' return_value='active' %} {% current 'guess' return_value='active' %}"><a href="{% url 'new_guess' %}">Raten</a></li>
</ul>
 
{% if user.is_authenticated %}
<div class="navbar-right">
<p class="navbar-text">Hallo 
<a href="{% url 'stats' %}" class="navbar-link">{{user}}</a>!</p>
</div>
{% else %}
<a href="{% url 'login' %}" class="navbar-right btn navbar-btn">Einloggen</a>
{% endif %}
</div>
</div>
</nav>


{% if messages %}
<div class="container">
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
</div>
{% endif %}

{# <h1>{% block title %}{% endblock %}</h1> #}

{% block content %}{% endblock %}

</body>
</html>

