{% extends "nbip/base.html" %}
{% load staticfiles %}
{% load countup %}

{% block title %}Was ist richtig?{% endblock %}

{% block page-js %}
// Grey out the submit button if the answers do not make sense
function update_submit () {
	var counts = [0,0,0];
	$(".result-count").each(function (_,input) {
		var n = $(input).attr('name').substr(6);
		counts[n] = $(input).val();
	});

	var actual = [0,0,0];
	$("select").each(function (_,select) {
		var n = $(select).val();
		if (n) {actual[n]++};
	});

	$(":submit").attr("disabled", false);
	actual.map(function(_,i) {
		if (actual[i] != counts[i]) {
			$(":submit").attr("disabled", true);
		}
	});
}

$(function (){
	update_submit();
	$("select").on('change', update_submit);
});


// Drag'n'drop functionality
$(function (){
	$(".answer-icon").draggable({
		revert: true,
	});
	$(".answer-panel").droppable({
		accept: '.answer-icon',
		hoverClass: "panel-success",
		drop: function( event, ui ) {
			$(this).find(".answer-icon").appendTo("#answer-icons");

			ui.draggable.css({position: "relative", top:"", left:""});
			//ui.draggable.css('position', '');
			//ui.draggable.css('top', ui.position.top - $(this).position().top);
			//ui.draggable.css('left', ui.position.left - $(this).position().left);

			$(this).prepend(ui.draggable);


			// Show placeholders only where relevant
			$(".answer-placeholder").show();
			$(".answer-panel").has(".answer-icon").find(".answer-placeholder").hide();
		},
	});
});


{% endblock %}

{% block content %}
<div class="container">
<p>Was mag denn ein <strong>{{ word.lemma }}</strong> sein?</p>

<form class="form-horizontal" role="form" method="POST">
{% csrf_token %}

{% for k, v in counts.items %}
<input type="hidden" class="result-count" name="count-{{k}}" value="{{v}}" />
{% endfor %}

{% for e in explanations %}
<div class="form-group">
 <label for="guess{{forloop.counter0}}" class="col-sm-4 control-label">{{ e.text }}</label>
 <div class="col-sm-2">
  <select id="id_guess{{forloop.counter0}}" name="guess{{forloop.counter0}}">
   <option value=""></option>
   <option value="0">Richtig</option>
   <option value="1">Mensch</option>
   <option value="2">Computer</option>
  </select>
 </div>
</div>
{% endfor %}

<div class="container-fluid form-group">
  <div class="row">
   {% for e in explanations %}
    <div class="col-sm-4">
     <div class="panel answer-panel">
      <img class="answer-placeholder" src="{% static "empty.png" %}"/>
      {{ e.text }}
     </div>
    </div>
   {% endfor %}
   <div class="col-sm-4" id="answer-icons">
     {% for answer, count in counts.items %}
      {% for i in count|countup %}
       <img class="answer-icon" src="{% static "icon-" %}{{answer}}.png" data-answer="{{answer}}" alt="Antwort {{answer}}"/>
      {% endfor %}
     {% endfor %}
   </div>
  </div>
</div>


<div class="form-group">
 <div class="col-sm-offset-4 col-sm-2">
  <input  class="btn btn-default" type="submit" value="Submit" />
 </div>
</div>

</form>
</div>

{% endblock %}
