{% extends "nbip/base.html" %}

{% block title %}Was ist richtig?{% endblock %}

{% block content %}
<h1>No bot is perfect</h1>
<p>Was mag denn ein {{ round.word.lemma }} sein?</p>
<form action="" method="post">
{% csrf_token %}
<ul>
{% for e in explanations %}
<li>
<label for="guess{{forloop.counter0}}">{{ e }}</label> <select id="id_guess{{forloop.counter0}}" name="guess{{forloop.counter0}}">
<option value=""></option>
<option value="0">Richtig</option>
<option value="1">Mensch</option>
<option value="2">Computer</option>
</li>
</select>
{% endfor %}
</ul>
<input type="submit" value="Submit" />
</form>

{% endblock %}
