{% extends "nbip/base.html" %}

{% block title %}Willkommen{% endblock %}

{% block content %}
<div class="container">
<p>Willkommen zum Programmierspiel der GPN’14.
Wir spielen mit {{ n_words }} {{ n_words | pluralize:"Wort,Wörtern" }} und {{ n_explanations }} Erklärung{{ n_explanations|pluralize:"en"}}.</p>
</div>

{% if user.is_authenticated %}
<div class="container">
 <div class="row">
  <div class="col-sm-4">
   <h3>
    Deine Wörter
    <a class="btn btn-default btn-xs" href="{% url 'submit' %}">
     <span class="glyphicon glyphicon-plus"></span>
    </a>
   </h3>
   {% if user.submitted_words.all %}
    <ul class="list-group">
     {% for w in user.submitted_words.all %}
      <li class="list-group-item">
       {{w}}
      </li>
     {% endfor %}
    </ul>
  {% else %}
   <p>
    Du hast noch keine Wörter eingericht.
    <a href="{% url 'submit' %}">Ändere das doch!</a>
   </p>
  {% endif %}
  </div>

  <div class="col-sm-4">
   <h3>
    Deine Erklärungen
    <a class="btn btn-default btn-xs" href="{% url 'explain' %}">
     <span class="glyphicon glyphicon-plus"></span>
    </a>
   </h3>
   {% if user.submitted_explanations.all %}
    <ul class="list-group">
     {% for e in user.submitted_explanations.all %}
      <li class="list-group-item">
       Ein/eine <strong>{{e.word}}</strong> ist ein/eine <strong>{{e.explanation}}</strong>.
      </li>
     {% endfor %}
    </ul>
  {% else %}
   <p>
    Du hast noch keine Erklärungen eingericht.
    <a href="{% url 'explain' %}">Ändere das doch!</a>
   </p>
   {% endif %}
  </div>

  <div class="col-sm-4">
   <h3>
    Deine Spiele
    <a class="btn btn-default btn-xs" href="{% url 'new_guess' %}">
     <span class="glyphicon glyphicon-plus"></span>
    </a>
   </h3>
   {% if user.gamerounds.all %}
    <ul class="list-group">
     {% for g in user.gamerounds.all %}
      <li class="list-group-item">
       <a href="{% url "view_guess" g.pk %}">{{g.word}}</a>
      </li>
     {% endfor %}
    </ul>
  {% else %}
   <p>
    Du hast noch keine Rate-Runden gespielt.
    <a href="{% url 'new_guess' %}">Mach das doch jetzt!</a>
   </p>
  {% endif %}
  </div>
 </div>
</div>
{% endif %}


{% endblock %}
