{% extends "nbip/base.html" %}

{% block page-css %}

#highscore thead th {
	text-align:center;
}
#highscore thead th:nth-child(2) {
	text-align:left;
}

#highscore tbody td {
	text-align:right;
}
#highscore tbody td:nth-child(2) {
	text-align:left;
}

{% endblock %}

{% block page-js %}
function perc_row(a,b) {
	if (a + b > 0) {
		return $("<td>").addClass("small").text((a / (a + b)).toFixed(3));
	} else {
		return $("<td>").addClass("small").text("–");

	}
}

function update_highscore() {
    $.getJSON("{% url "highscore_data" %}")
	.done(function (data) {
	    $("#highscore tbody").empty();
	    jQuery.map(data['rows'], function(rowdata,i) {
		var r = $("<tr>").append([
			$("<td>").text(i+1),
			$("<td>").text(rowdata["user_name"]),
			$("<td>").text(rowdata["n_words"]),
			$("<td>").text(rowdata["n_explanations"]),
			$("<td>").text(rowdata["n_games"]),
			$("<td>").text(rowdata["n_correct"]),
			perc_row(rowdata["n_correct"], rowdata["n_wrong"]),
			$("<td>").text(rowdata["n_tricked"]),
			perc_row(rowdata["n_tricked"], rowdata["n_not_tricked"]),
		]);
		$("#highscore tbody").append(r);
	    });
	});
    setTimeout(update_highscore, 30000);
}

$(function() {
    update_highscore()
})

{% endblock %}

{% block title %}Willkommen{% endblock %}

{% block content %}
<div class="container">
<p>Willkommen zum Programmierspiel der GPN’14.
Wir spielen mit {{ n_words }} {{ n_words | pluralize:"Wort,Wörtern" }} und {{ n_explanations }} Erklärung{{ n_explanations|pluralize:"en"}}.</p>
</div>

{% if user.is_authenticated %}
<div class="container">
 <div class="row">
  <div class="col-sm-3">
   <h3>
    Deine Wörter
    <a class="btn btn-default btn-xs" href="{% url 'submit' %}">
     <span class="glyphicon glyphicon-plus"></span>
    </a>
   </h3>
   {% if user.submitted_words.all %}
    <ul class="list-group">
     {% for w in user.submitted_words.all %}
      <li class="list-group-item">
       {{w}}
      </li>
     {% endfor %}
    </ul>
  {% else %}
   <p>
    Du hast noch keine Wörter eingericht.
    <a href="{% url 'submit' %}">Ändere das doch!</a>
   </p>
  {% endif %}
  </div>

  <div class="col-sm-6">
   <h3>
    Deine Erklärungen
    <a class="btn btn-default btn-xs" href="{% url 'explain' %}">
     <span class="glyphicon glyphicon-plus"></span>
    </a>
   </h3>
   {% if user.submitted_explanations.all %}
    <ul class="list-group">
     {% for e in user.submitted_explanations.all %}
      <li class="list-group-item">
       Ein/eine <strong>{{e.word}}</strong> ist ein/eine <strong>{{e.explanation}}</strong>.
      </li>
     {% endfor %}
    </ul>
  {% else %}
   <p>
    Du hast noch keine Erklärungen eingericht.
    <a href="{% url 'explain' %}">Ändere das doch!</a>
   </p>
   {% endif %}
  </div>

  <div class="col-sm-3">
   <h3>
    Deine Spiele
    <a class="btn btn-default btn-xs" href="{% url 'new_guess' %}">
     <span class="glyphicon glyphicon-plus"></span>
    </a>
   </h3>
   {% if user.gamerounds.all %}
    <ul class="list-group">
     {% for g in user.gamerounds.all %}
      <li class="list-group-item">
       <a href="{% url "view_guess" g.pk %}">{{g.word}}</a>
      </li>
     {% endfor %}
    </ul>
  {% else %}
   <p>
    Du hast noch keine Rate-Runden gespielt.
    <a href="{% url 'new_guess' %}">Mach das doch jetzt!</a>
   </p>
  {% endif %}
  </div>
 </div>
</div>
{% endif %}

<div class="container">
 <h3>Highscores</h3>
 <table class="table" id="highscore">
   <colgroup>
    <col width="0%"/>
    <col width="100%" style="text-align:left"/>
    <col width="0%" span="3"/ style="text:align:right">
    <col width="0%" span="4"/>
  </colgroup>
  <thead>
   <tr>
     <th>#</th>
     <th>User</th>
     <th>Wörter</th>
     <th>Erklärungen</th>
     <th>Spiele</th>
     <th colspan="2">Richtig geraten</th>
     <th colspan="2">Andere reingelegt</th>
   </tr>
  </thead>
  <tbody>
  </tbody>
 </table>

</div>


{% endblock %}
