{% extends "nbip/base.html" %}

{% load bootstrap %}

{% block title %}Neues Wort einreichen{% endblock %}

{% block content %}

<div class="container">
<form class="form-horizontal" role="form" method="POST">
{% csrf_token %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

 <div class="row">
  <div class="form-group">
   <div class="form-inline col-sm-8 col-sm-offset-2 ">
    Ein/eine
    <input class="form-control" id="id_lemma" name="lemma" type="text" placeholder="&lt;Substantiv&gt;"/>
    ist ein/eine
    <input class="form-control" id="id_explanation" name="explanation" type="text" placeholder="&lt;Adjektiv&gt; &lt;Substantiv&gt;"/>
   </div>
  </div>
 </div>

 <div class="row">
  <div class="form-group">
   <div class="form-inline col-sm-8 col-sm-offset-2 ">
    und mehr dazu findet man auf
    <input class="form-control" id="id_reference" name="reference" type="text" placeholder="http://"/> (optional).
  </div>
  </div>
 </div>

 <div class="row">
  <div class="form-group">
   <div class="col-sm-8 col-sm-offset-2">
    <input class="btn btn-default" type="submit" value="Wort einreichen" />
   </div>
  </div>
 </div>

</form>
</div>

{% endblock %}
